# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Oo]nDevice/

# OS/IDE
.DS_Store
.vs/
.idea/
*.csproj
*.sln
*.user

# Keep these tracked
!Assets/**/*.meta
!ProjectSettings/
!Packages/
