# Unity - keep repo small
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Oo]nDevice/
# Occasionally people copy the editor app by mistake 🤯
*.app/
*/Unity.app/
# IDE / OS
.DS_Store
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.suo
*.tmp
*.pdb
*.mdb
