behaviors:
  Board:
    trainer_type: ppo
    hyperparameters:
      batch_size: 1024
      buffer_size: 10240
      learning_rate: 1.0e-4
      beta: 0.02
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
      learning_rate_schedule: linear
    network_settings:
      normalize: false
      hidden_units: 256
      num_layers: 2
    reward_signals:
      extrinsic:
        gamma: 0.90
        strength: 1.0
    max_steps: 10000000
    time_horizon: 64
    summary_freq: 10000

environment_parameters:
  heuristic_weight:
    curriculum:
      - name: Lesson0 
        completion_criteria:
          measure: reward
          behavior: Board
          signal_smoothing: true
          min_lesson_length: 100
          threshold: 2.5
        value: 0.9

      - name: Lesson1
        value: 0.1