behaviors:
  Board:
    trainer_type: sac
    hyperparameters:
      learning_rate: 0.001
      learning_rate_schedule: constant
      batch_size: 512
      buffer_size: 50000
      buffer_init_steps: 10000
      tau: 0.005
      steps_per_update: 1
      init_entcoef: 0.1
    network_settings:
      normalize: false
      hidden_units: 256
      num_layers: 2
      vis_encode_type: simple
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
    keep_checkpoints: 5
    max_steps: 1.0e7
    time_horizon: 128
    summary_freq: 10000